









body,html{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #b11111;
    background: url('login\ pic.jpg')no-repeat;
    background-size: cover;
    background-position: center;
}

.login-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    backdrop-filter: blur(20px);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.login-form h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    color: #666;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

button:hover {
    background-color: #0056b3;
}

.remember-forget {
    font-size: .9em;
    color: #333;
    font-size: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.alternative-signup{
    font-size: .9em;
    color: #333;
    text-align: center;
    font-weight: 500px;
    margin: 20px 0 10px;
}